#small-submit-btn, #back-btn {
    padding: 4px 10px !important;
    font-size: 12px !important;
    border-radius: 6px !important;
    height: 28px !important;
}

.label-row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: -8px;
}

footer { visibility: hidden }
